@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BarControl.Model.Slip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    @*Filter binding*@
    SlipFilter filter = ViewBag.Filter ?? new SlipFilter();
}

<h1>Index</h1>
<form method="get"> @*Since we did not specify an action, this form will call the action specified on the CONTROLLER*@ 
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="@filter.SearchTerm">Search</label>
                <input type="text" name="SearchTerm" value="@filter.SearchTerm"/> @*The name attribute is where the data binding happens*@
            </div>
            <div class="form-group">
                <label for="@filter.SearchTerm">Initial date</label>
                <input type="datetime-local" name="InitialDate value=@filter.InitialDate?.ToString("yyyy-MM-ddTHH:MM")"/> @*The name attribute is where the data binding happens*@
            </div>
            <div class="form-group">
                <label for="@filter.SearchTerm">Final date</label>
                <input type="datetime-local" name="FinalDate" value="@filter.InitialDate?.ToString("yyyy-MM-ddTHH:MM")"/> @*The name attribute is where the data binding happens*@
            </div>
            <div class="form-group">
                <label for="Paid">Paid</label>
                <input type="datetime-local" name="FinalDate" value="@filter.InitialDate?.ToString("yyyy-MM-ddTHH:MM")"/> @*The name attribute is where the data binding happens*@
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary"type="submit">Filter</button>
            </div>
        </div>
    </div>
</form>
<p>
    <a asp-action="Create" class="btn btn-primary">Create new slip</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
          
            <th>
                Total cost
            </th>
            <th>
                Total sold
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waiter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingDate)
            </td>
            <td>
                @item.TotalPurchaseValue()
            </td>
            <td>
                @item.TotalSellingValue()
            </td>
            <td>
               @{
                   var paid = item.Paid ? "Yes" : "No";
               }
               <label> @paid</label>
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
