@using BarControl.Data
@model IEnumerable<BarControl.Model.Consumption>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @{
                    double price = item.Amount * item.Product.SellingValue;
                }
                @price
            </td>
            <td>
                <form asp-controller="Slip" asp-action="DeleteConsumption" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" class="btn btn-primary"/>
                </form>
            </td>
           
        </tr>
}
    </tbody>
</table>
